<h1><%= @planet.name %></h1>

<h3> Position: <%= @planet.position %></h3>
<div>
    <p>Name: <%= @planet.name %></p>
    <p>Info: <%= @planet.info %></p>
    <p><%= "Has Rings!" if @planet.has_rings %></p>
</div>